Flask-RESTful
PyJWT
boto3
botocore
Flask
Flask-JWT-Extended
Flask-SQLAlchemy
fonttools
gunicorn
Jinja2
jmespath
joblib
matplotlib
numpy
packaging
pandas
pillow
pip
pipenv
platformdirs
psycopg2-binary
pyarrow
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
s3transfer
scikit-learn
scipy
setuptools
SQLAlchemy
sqlparse
threadpoolctl
typing_extensions
tzdata
urllib3
uuid
Werkzeug
wordcloud