.spinner {
    /* Spinner styles */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    opacity: 0;
    visibility: hidden;
}

.visible {
    /* Show spinner */
    opacity: 1;
    visibility: visible;
}
.text {
    color: rgb(91, 91, 100);
    position: absolute;
    top: calc(50% + 30px); /* Adjust the distance from the spinner */
    left: 50%;
    transform: translateX(-50%);
}
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


