<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liftloft</title>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

    <!-- Background Container -->
    <div class="relative bg-cover bg-center h-screen flex flex-col" style="background-image: url('/static/home.jpg');">        
        <nav class="relative px-4 py-8 flex justify-between items-center">
            <a href="/">
                <img src="/static/lflogo2.png" alt="logo" class="h-20">
            </a>
            <div class="lg:hidden">
                <button class="navbar-burger flex items-center text-blue-600 p-3">
                    <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Mobile menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                    </svg>
                </button>
            </div>
            <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
                <li><a class="text-sm text-white hover:text-gray-500 font-bold" href="#">Home</a></li>
                <li class="text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                    </svg>
                </li>
                <li><a class="text-sm text-white hover:text-gray-500 font-bold" href="#">About Us</a></li>
                <li class="text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                    </svg>
                </li>
                <li><a class="text-sm text-white hover:text-gray-500 font-bold" href="#">Services</a></li>
                <li class="text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                    </svg>
                </li>
                <li><a class="text-sm text-white hover:text-gray-500 font-bold" href="#">Pricing</a></li>
                <li class="text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                    </svg>
                </li>
                <li><a class="text-sm text-white hover:text-gray-500 font-bold" href="#">Contact</a></li>
            </ul>
            <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200" href="/signin">Sign In</a>
            <a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200" href="/signup">Sign up</a>
        </nav>
        <div class="navbar-menu relative z-50 hidden">
            <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
            <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
                <div class="flex items-center mb-8">
                    <a class="mr-auto text-3xl font-bold leading-none" href="#">
                        <img src="/static/logof.png" alt="logo" class="h-20">  
                    </a>
                    <button class="navbar-close">
                        <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div>
                    <ul>
                        <li class="mb-1">
                            <a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Home</a>
                        </li>
                        <li class="mb-1">
                            <a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">About Us</a>
                        </li>
                        <li class="mb-1">
                            <a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Services</a>
                        </li>
                        <li class="mb-1">
                            <a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Pricing</a>
                        </li>
                        <li class="mb-1">
                            <a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="mt-auto">
                    <div class="pt-6">
                        <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl" href="/signin">Sign in</a>
                        <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl" href="/signup">Sign Up</a>
                    </div>         
                </div>
            </nav>
        </div>       
        <!-- Content Section -->
        <div class="container mx-auto flex-grow text-center text-white relative z-10 p-4">
            <h1 class="text-4xl mt-24 md:text-5xl font-bold mb-4 md:mb-8">Welcome to Liftloft</h1>
            <p class="text-lg md:text-3xl mb-4 md:mb-8">Determined to get an Airbnb that suits your Taste? Look no
                further. </p>            
            <button id="openModal" class="inline-block text-white font-bold py-2 px-4 rounded-full bg-gradient-to-r from-pink-500 to-purple-800 border border-transparent transform hover:scale-110 hover:border-white transition-transform duration-3000 ease-in-out">
                Click Here
            </button>
            <!-- Modal Container -->
            <div id="modal" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 hidden">
                <div class="flex items-center justify-center h-full">
                    <div class="bg-white p-8 rounded-lg">
                                <!-- Form Section -->
                                <div class="m-7">
                                    <img src="/static/logof.png" alt="Logo" class="mx-auto mb-4 max-w-full h-24"/>
                                    <p class="font-semibold text-gray-600">Fill form this to see view listings</p>
                                    <form action="/recommend" method="post" id="form" class="w- mx-auto bg-white p-8 rounded-md shadow-md bg-gray-200">
                                        <div class="mb-6">
                                           
                                            <label for="theme" class="block mb-2 text-lg text-gray-600">Preferred Theme</label>
                                            <select name="theme" id="theme" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 text-gray-900 rounded-md focus:outline-none focus:ring focus:ring-indigo-100">
                                                <option value="" disabled selected>Select a theme</option>
                                                <option value="Coastal">Sandy Beaches</option>
                                                <option value="Green Cities">Green Cities</option>
                                                <option value="City">Urban City</option>
                                                <option value="Town">Towns </option>
                                                <option value="Lakeside">Lakeside </option>
                                                <option value="Countryside">Countryside</option>
                                                <option value="Small Town">Small Town</option>
                                               
                                            </select>
                                        </div>
                                        <div class="mb-6">
                                            <label for="location" class="block mb-2 text-lg text-gray-600 dark:text-gray-400">Preferred Location</label>
                                            <input type="text" name="location" id="location" placeholder="Enter Location" required
                                            class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 text-gray-900 rounded-md focus:outline-none focus:ring focus:ring-indigo-100"/>
                                        </div>  
                                        
                                                
                                        <div class="mb-6">
                                            <button type="submit"
                                                class="middle none center mr-4 rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500 transition-all hover:shadow-lg hover:shadow-red-900/40 focus:opacity-[0.85] focus:shadow-none
                                                    active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                                data-ripple-dark="true">Recommend</button>
                                        </div>
                                        <p class="text-base text-center text-gray-400" id="result"></p>
                                    </form>                                   
                                </div>                       
                        <!-- Close Modal Button -->
                        <button id="closeModal" class="middle none center rounded-lg py-3 px-6 font-sans text-xs font-bold uppercase text-blue-400 transition-all hover:bg-blue-600 active:bg-blue-300 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- New Responsive Section -->
<div class="text-center mb-8 mt-6">
    <div class="inline-block border-b border-gray-400 w-16 mr-4"></div>
    <h2 class="text-3xl text-purple-600 font-bold inline-block">What is Liftloft?</h2>
    <div class="inline-block border-b border-gray-400 w-16 ml-4"></div>
  </div>
<div class="container  mx-auto flex flex-col-reverse md:flex-row items-center justify-center mt-12">   
    <div class="w-full md:w-1/2 p-8 bg-white rounded-lg shadow-lg mb-8 md:mb-0">
        <h2 class="text-2xl md:text-3xl font-bold mb-4 text-gray-800">About Liftloft</h2>
        <p class="text-base md:text-lg text-gray-700">
            No more scrolling endlessly through listings that don't match your preferences.
            We streamline the process, presenting you with options that align with your travel style.
            Get ready to embark on the journey of a lifetime and create unforgettable memories in the heart of Kenya!
        </p>
        <p class="text-base md:text-lg text-gray-700 mt-4">
            Our state-of-the-art recommendation algorithm goes to work! Powered by advanced machine learning,
            it analyzes your responses and compares them with our vast database of Airbnb listings.
            The result? A curated list of accommodations that match your unique preferences.
        </p>
    </div>
    <!-- Image on the Bottom (md:w-1/2) -->
    <div class="w-full md:w-1/2">
        <img src="/static/naibackg.jpg" alt="About Liftloft" class="object-cover w-full h-full rounded-lg">
    </div>
</div>
<!-- New Responsive Section -->
<div class="min-h-screen bg-white">
    <div class="container mx-auto py-10">
      <div class="text-center mb-8">
        <div class="inline-block border-b border-gray-400 w-16 mr-4"></div>
        <h2 class="text-3xl text-purple-600 font-bold inline-block">How it works</h2>
        <div class="inline-block border-b border-gray-400 w-16 ml-4"></div>
      </div>
      <h2 class="text-3xl font-semibold mb-8 text-center">Three Easy Steps</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        <!-- Card 1 -->
        <div class="bg-white rounded-lg shadow-md p-6">
          <div class="flex items-center justify-center mb-4">
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/europe.png" alt="europe"/>
          </div>
          <h3 class="text-lg text-purple-500 font-semibold text-center mb-2">Recommendation</h3>
          <p class="text-center text-gray-600">Select the theme and Location that resonates most with your wanderlust spirit and unveil the hidden gem waiting to be discovered within Kenya's breathtaking landscapes.
             Anticipate the excitement as our cutting-edge recommendation algorithm takes the reins, guiding you to your ultimate destination.
          </p>
        </div>
        
        <!-- Card 2 -->
        <div class="bg-white rounded-lg shadow-md p-6">
          <div class="flex items-center justify-center mb-4">
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/000000/us-dollar-circled--v1.png" alt="us-dollar-circled--v1"/>
          </div>
          <h3 class="text-lg text-purple-500 font-semibold text-center mb-2">Book Your Choice</h3>
          <p class="text-center text-gray-600">Secure your dream Stay in Kenya with a simple click! Choose from a simplified list after recommendation algorithm works its magic,
             ensuring your booking experience is as seamless as your upcoming adventure.</p>
        </div>       
        <!-- Card 3 -->
        <div class="bg-white rounded-lg shadow-md p-6">
          <div class="flex items-center justify-center mb-4">
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/airplane-take-off.png" alt="airplane-take-off"/>
          </div>
          <h3 class="text-lg text-purple-500 font-semibold text-center mb-2">Travel to location</h3>
          <p class="text-center text-gray-600">After selecting your perfect destination in Kenya, it's time to experience the magic of Airbnb! Dive into a world of unique accommodations tailored to your taste, offering comfort, charm, and unparalleled hospitality. Whether you crave a cozy cabin in the mountains or a chic urban loft,
             Airbnb has your dream stay covered.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class=" bg-purple-900">
    <div class="max-w-2xl mx-auto text-white py-10">
        <div class="text-center">
            <h3 class="text-3xl mb-3"> Find Us on Our Socials </h3>
            <p> Enjoy your stay </p>
            <div class="flex justify-center my-10">
                <a href="https://github.com/marshvin" target="_blank" class="flex items-center border w-auto rounded-lg px-4 py-2 w-52 mx-2">
                    <img src="https://img.icons8.com/glyph-neue/64/github.png" alt="github" class="w-7 md:w-8">
                    <div class="text-left ml-3">
                        <p class='text-xs text-gray-200'>Source Code </p>
                        <p class="text-sm md:text-base"> Github </p>
                    </div>
                </a>
                <a href="https://vinmarsh.vercel.app/" target="_blank" class="flex items-center border w-auto rounded-lg px-4 py-2 w-44 mx-2">
                    <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-developer-web-development-flaticons-lineal-color-flat-icons-2.png" 
                        alt="external-developer-web-development-flaticons-lineal-color-flat-icons-2" class="w-7 md:w-8">
                    <div class="text-left ml-3">
                        <p class='text-xs text-gray-200'>Developer </p>
                        <p class="text-sm md:text-base"> Vincent Marsh</p>
                    </div>
                </a>
            </div>


        </div>
        <div class="mt-28 flex flex-col md:flex-row md:justify-between items-center text-sm text-white">
            <p class="order-2 md:order-1 mt-8 md:mt-0"> &copy; Vincent Marsh, 2024 </p>
            <div class="order-1 md:order-2">
                <a href="https://www.linkedin.com/in/vincent-marsh-12b093222/"><span class="px-2">About us</span></a>
                <span class="px-2 border-l">Contact us</span>
                <span class="px-2 border-l">Privacy Policy</span>
            </div>
        </div>
        
</div>
<script src="{{ url_for('static', filename='/js/index.js') }}"></script>

</body>

</html>
