<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liftloft</title>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

    <!-- Background Container -->
    <div class="relative bg-cover bg-center h-screen flex flex-col" style="background-image: url('/static/home.jpg');">        
            <nav class="flex flex-wrap items-center justify-between p-4 md:p-9">
                <img src="https://tailwindflex.com/public/favicon.ico" class="h-8 w-8 md:h-10 md:w-10" alt="ACME" />
                <div class="flex md:hidden">
                    <button id="hamburger" class="text-white">
                        <img class="toggle block" src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png"
                            width="30" height="30" />
                        <img class="toggle hidden" src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png"
                            width="30" height="30" />
                    </button>
                </div>
                <div
                    class="toggle hidden w-full text-lg md:w-auto md:flex text-right text-bold mt-2 md:mt-0 border-t-2 border-white md:border-none">
                    <a href="#"
                        class="block md:inline-block text-lg text-white hover:text-blue-500 px-2 md:px-3 py-2 md:border-b-2 border-white md:border-none">Home
                    </a>
                    <a href="#"
                        class="block md:inline-block text-lg text-white hover:text-blue-500 px-2 md:px-3 py-2 md:border-b-2 border-white md:border-none">Products
                    </a>
                    <a href="#"
                        class="block md:inline-block text-lg text-white hover:text-blue-500 px-2 md:px-3 py-2 md:border-b-2 border-white md:border-none">Pricing
                    </a>
                    <a href="#"
                        class="block md:inline-block text-lg text-white hover:text-blue-500 px-2 md:px-3 py-2 md:border-b-2 border-white md:border-none">Contact
                    </a>
                </div>
                <a href="#"
                    class="toggle hidden md:flex w-full md:w-auto px-3 py-1 text-right bg-blue-900 hover:bg-blue-500 text-white md:rounded">Create
                    Account
    
                </a>
          
        </nav>

        <!-- Content Section -->
        <div class="container mx-auto flex-grow text-center text-white relative z-10 p-4">
            <h1 class="text-4xl mt-24 md:text-5xl font-bold mb-4 md:mb-8">Welcome to Liftloft</h1>
            <p class="text-lg md:text-3xl mb-4 md:mb-8">Determined to get an Airbnb that suits your Taste? Look no
                further</p>
            
            <!-- Open Modal Button -->
            <button id="openModal" class="bg-blue-500 text-white p-2 rounded text-base md:text-lg">Try Recommendations</button>

            <!-- Modal Container -->
            <div id="modal" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 hidden">
                <div class="flex items-center justify-center h-full">
                    <div class="bg-white p-8 rounded-lg">
                                <!-- Form Section -->
                                <div class="m-7">
                                    <form action="/recommend" method="post" id="form" class="max-w-md mx-auto bg-white p-8 rounded-md shadow-md dark:bg-gray-800">
                                        <div class="mb-6">
                                            <label for="theme" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Preferred Theme</label>
                                            <input type="text" name="theme" id="theme" placeholder="Theme" required
                                                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                                        </div>
                                        <div class="mb-6">
                                            <label for="location" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Preferred Location</label>
                                            <input type="text" name="location" id="location" placeholder="Enter Location" required
                                                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                                        </div>
                                        <div class="mb-6">
                                            <label for="Price" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Price Range</label>
                                            <select name="location" id="location"
                                                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-gray-800 dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500">
                                                <option class="text-gray-800" value="city1">500</option>
                                                <option class="text-gray-800" value="city2">400-500</option>
                                                <option class="text-gray-800" value="city3">200-400</option>
                                                <option class="text-gray-800" value="city1">100-200</option>
                                                <option class="text-gray-800" value="city2">0-50</option>
                                                

                                                <!-- Add more options as needed -->
                                            </select>
                                        </div>
                                        <div class="mb-6">
                                            <button type="submit"
                                                class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none">Recommend</button>
                                        </div>
                                        <p class="text-base text-center text-gray-400" id="result"></p>
                                    </form>
                                </div>
                                
         

                        
                        <!-- Close Modal Button -->
                        <button id="closeModal" class="text-gray-500 text-sm mt-4">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- New Responsive Section -->
<div class="container  mx-auto flex flex-col-reverse md:flex-row items-center justify-center mt-12">
    <!-- Text on the Top (md:w-1/2) -->
    <div class="w-full md:w-1/2 p-8 bg-white rounded-lg shadow-lg mb-8 md:mb-0">
        <h2 class="text-2xl md:text-3xl font-bold mb-4 text-gray-800">About Liftloft</h2>
        <p class="text-base md:text-lg text-gray-700">
            No more scrolling endlessly through listings that don't match your preferences.
            We streamline the process, presenting you with options that align with your travel style.
        </p>
        <p class="text-base md:text-lg text-gray-700 mt-4">
            Our state-of-the-art recommendation algorithm goes to work! Powered by advanced machine learning,
            it analyzes your responses and compares them with our vast database of Airbnb listings.
            The result? A curated list of accommodations that match your unique preferences.
        </p>
    </div>

    <!-- Image on the Bottom (md:w-1/2) -->
    <div class="w-full md:w-1/2">
        <img src="/static/naibackg.jpg" alt="About Liftloft" class="object-cover w-full h-full rounded-lg">
    </div>
</div>





    <script>
        //Open and close humberger menu
        document.getElementById("hamburger").onclick = function toggleMenu() {
            const navToggle = document.getElementsByClassName("toggle");
            for (let i = 0; i < navToggle.length; i++) {
                navToggle.item(i).classList.toggle("hidden");
            }
        };

        // Open modal
        document.getElementById("openModal").onclick = function openModal() {
            document.getElementById("modal").style.display = "block";
        };

        // Close modal
        document.getElementById("closeModal").onclick = function closeModal() {
            document.getElementById("modal").style.display = "none";
        };
    </script>

</body>

</html>
